.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--max-width);
}

.form { 
  background-color: var(--color-secondary);
  background-image: url(../../images/bg-pattern.svg),
    linear-gradient(transparent,rgba(0,0,0,.2));
  background-position: center;
  border-radius: 10px;
  height: 200px;
  padding: 50px 30px;
  box-shadow: var(--shadow);
}

.form:not(:focus-within) > .suggestWrapper { display: none }
.form > h1 { margin-bottom: 10px }

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.results, .pagination, .noResults { padding: 50px 25px }

.results, .pagination { 
  margin: 0;
  padding: 50px 0;
  list-style-type: none;
}

.results > * { margin-bottom: 20px }

.pagination {
  width: 100%;
  text-align: center;
}

.pagination > li { 
  display: inline-block;
  padding: 5px;
}

.pagination > li > a { 
  display: flex;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  text-decoration: none;
  box-shadow: var(--shadow);
  transition: transform .2s;
}

.pagination > li > a:hover { transform: translateY(-5px) }

.pagination > .active > a {
  background-color: var(--color-secondary);
  font-weight: bold;
}

.searchImage { padding: 100px 50px }
.searchImage > img { 
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%; 
}

.noResults { text-align: center }

@media(min-width: 600px) {
  .wrapper { padding: 0 50px }
  .form { padding: 50px }
  .results, .pagination { padding: 50px 50px }
  .results > * { margin-bottom: 50px }
}